<footer id="footer" class="footer-1">  
    <div class="footer-copyright">
        <div class="col-md-12 text-center">
            <p>Copyright <a href="#">VBIND Innovations</a> © 2022. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script src="js/jspdf.umd.js"></script>
<script src="js/darkmode.js"></script>
<script src="js/jspdf.plugin.autotable.js"></script>
<script>
        const d = new Date();
        const pdf ="Garbage "+d.toLocaleString();
        function generate() {
        var doc = new jspdf.jsPDF()
        doc.setFontSize(18)
        doc.autoTable({ html: '#table',
        theme: 'striped' })
        doc.save(pdf);
    }
</script>
<script>
    function ExportToExcel(){
var table = $("#table");
$(table).table2excel({
    exclude: ".noExl",
    name: "Garbage_FullList",
    filename: "Garbage_FullList_" + $.now(),
    fileext: ".xls",
    preserveColors: true,
    sheetName: "Garbage_FullList"
});

    }
</script>
</html>